<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools">

    <application
        android:name=".App"
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.AccessibilityExpert"
        tools:targetApi="31">
        
        <!-- Main Dashboard Activity -->
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        
        <!-- Classic Views Activities -->
        <activity
            android:name=".classic.ClassicViewsActivity"
            android:label="@string/classic_views_title"
            android:parentActivityName=".MainActivity" />
            
        <!-- Exercise 1: Content Description -->
        <activity
            android:name=".classic.exercise1.ContentDescriptionActivity"
            android:label="@string/exercise1_title"
            android:parentActivityName=".classic.ClassicViewsActivity" />
            
        <!-- Exercise 2: Color Contrast -->
        <activity
            android:name=".classic.exercise2.ColorContrastActivity"
            android:label="@string/exercise2_title"
            android:parentActivityName=".classic.ClassicViewsActivity" />
            
        <!-- Exercise 4: Form Accessibility -->
        <activity
            android:name=".classic.exercise4.FormAccessibilityActivity"
            android:label="@string/exercise4_title"
            android:parentActivityName=".classic.ClassicViewsActivity" />
            
        <!-- Exercise 5: Focus Management -->
        <activity
            android:name=".classic.exercise5.FocusManagementActivity"
            android:exported="false"
            android:parentActivityName=".classic.ClassicViewsActivity"
            android:label="@string/exercise5_header" />
            
        <!-- Exercise 7: Live Regions -->
        <activity
            android:name=".classic.exercise7.LiveRegionsActivity"
            android:exported="false"
            android:parentActivityName=".classic.ClassicViewsActivity"
            android:label="@string/exercise7_header" />
            
        <!-- Exercise 8: Custom View Accessibility -->
        <activity
            android:name=".classic.exercise8.CustomViewActivity"
            android:exported="false"
            android:parentActivityName=".classic.ClassicViewsActivity"
            android:label="@string/exercise8_header" />
            
        <!-- Compose Activities -->
        <activity
            android:name=".compose.ComposeActivity"
            android:label="@string/compose_views_title"
            android:parentActivityName=".MainActivity" />
            
        <!-- Accessibility Service -->
        <service
            android:name=".service.LoggingAccessibilityService"
            android:permission="android.permission.BIND_ACCESSIBILITY_SERVICE"
            android:exported="true">
            <intent-filter>
                <action android:name="android.accessibilityservice.AccessibilityService" />
            </intent-filter>
            <meta-data
                android:name="android.accessibilityservice"
                android:resource="@xml/accessibility_service_config" />
        </service>
    </application>

</manifest>